@use "@/assets/scss/abstract/_mixin.scss" as *;

.AL-MY-05-604 {
  .form-box {
    .title-area {
      + .title-area-bottom-txt {
        padding-top: rem(14);
        padding-bottom: rem(14);
        font-size: var(--font-size-ml);
        font-weight: var(--fontweight-normal);
      }
    }
  }
  .pop_content {
    .contents-wrap {
      &.ty02 {
        .tit {
          @include Pg_Sm_s14_lh20;
          font-weight: 700;
          margin-bottom: rem(8);
        }
        .policy-wrap {
          li {
            @include Pg_Sm_s14_lh20;
            margin-bottom: rem(8);

            &:last-child {
              margin-bottom: rem(0);
            }
          }
        }
      }
    }
  }
}
