@use "@/assets/scss/abstract/_mixin.scss" as *;

.AL-MY-05-601 {
  //공통
  .content-tabs {
    &.normal {
      &:deep() {
        .tab-title-wrap {
          .btn-tab-title {
            font-size: rem(16);
          }
        }
      }
    }
  }
  //.AL-MY-05-601
  .textarea_box {
    &.ty02 {
      overflow: visible;
      margin-bottom: rem(20);

      .byte_check {
        display: block;
        width: 100%;
        bottom: -20px;
        left: 0;
        right: 0;
        text-align: right;
        padding: 0;
      }
    }
  }

  ////.AL-MY-05-601, .AL-MY-05-604
  .pop_content {
    .form-box {
      padding-top: rem(16);
      border-top: 1px solid #ddd;
    }

    .contents-wrap {
      &.ty02 {
        .tit {
          @include Pg_Sm_s14_lh20;
          font-weight: 700;
          margin-bottom: rem(8);
        }
        .policy-wrap {
          li {
            @include Pg_Sm_s14_lh20;
            margin-bottom: rem(8);

            &:last-child {
              margin-bottom: rem(0);
            }
          }
        }
      }
    }
  }
  //.AL-MY-05-604
  .form-box {
    .title-area {
      + .title-area-bottom-txt {
        padding-top: rem(14);
        padding-bottom: rem(14);
        font-size: var(--font-size-ml);
        font-weight: var(--fontweight-normal);
      }
    }
  }

  //.AL-MY-05-606
  .content-item {
    .table-wrap {
      &.tag {
        .table {
          font-size: rem(14);
        }
      }
    }
    .content-tabs {
      &:deep() {
        .mobile & {
          button {
            &.btn-tab-title {
              &:nth-of-type(2) {
                max-width: rem(72);
              }
            }
          }
        }
      }
    }
    .content-item {
      + .content-item {
        border-top: 1px solid #dce0e5;
        padding-top: rem(32);
        border-radius: 0;
        margin-top: rem(12);
      }
    }
  }
}
