@use "@/assets/scss/abstract/_mixin.scss" as *;

.AL-MY-05-606 {
  .content-item {
    .table-wrap {
      &.tag {
        .table {
          font-size: rem(14);
        }
      }
    }
    .content-tabs {
      .mobile & {
        button {
          &.btn-tab-title {
            &:nth-of-type(2) {
              max-width: rem(72);
            }
          }
        }
      }
    }
    .content-item {
      + .content-item {
        border-top: 1px solid #dce0e5;
        padding-top: rem(32);
        border-radius: 0;
        margin-top: rem(12);
      }
    }
  }
}
