@charset "UTF-8";
@use "@/assets/scss/abstract/_mixin.scss" as *;

.AL-MS-04-003 {
  .gallery-title {
    font-size: rem(16);
  }
  .map_gallery-wrap {
    .info-box-list {
      .info-box {
        &.type-round {
          box-shadow: none;
          padding: rem(24) rem(16);
        }
      }
    }
    .gallery-title {
      margin-bottom: rem(8);
    }
  }

  .pc & {
    .map_gallery-wrap {
      .info-box-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: rem(8);
        .item {
          &:nth-of-type(2) {
            margin-top: 0;
          }
          width: calc(50% - rem(8));

          .info-box {
            &.type-round {
              box-shadow: none;
              padding: rem(24) rem(24) rem(40);
            }
          }
        }
        .gallery-title {
          margin-bottom: rem(16);
        }
      }
    }
  }
}
